<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>  
            <% if (products.length>0) { %>
                    <ul class="unordered">    
                        <% products.forEach(product => { %>
                                <li class="list">
                                   <p class="titles">  
                                    <%=product.productId.title%> 
                                   </p>
                                   <p class="titles">quantity: <%=product.quantity%></p>
                                    <form action="/cart-delete-item" method="post"> 
                                    <button type="submit" class="btn">Delete</button> 
                                    <input type="hidden" value="<%=product._id%>" name="id">
                                </form>
                                </li>
                               
                          <%})%>  
                          <hr>
                          <form action="/create-orders" method="post"> 
                            <button class="btn" type="submit">ORDER</button>
                        </form>
                    </ul>
                <% }else {%>
                    <h1>No products in cart</h1>
                    <%}%>
        </main>
        <%- include('../includes/end.ejs') %>